<!DOCTYPE html>
<html>
  <head>
    <title>Andeby kommune</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div>
      <div>
      <header>
        <h1>Andeby kommune v2.0</h1>
      </header>
      <div>
        <!-- TODO: Lenkene fungerer ikke -->
        <nav>
          <a href="#">Skole og utdanning</a>
          <a href="#">Bolig og fritid</a>
          <a href="#">Andebys enestående ender</a>
          <a href="#">Kontakt oss</a>
        </nav>
      </div>
      <div>
        <section>
          <h2>Velkommen til Andebys helt nye nettside</h2>
          <p>Vi i andeby kommune annerkjenner at vi er veldig sene med å lage vår egen nettside. Vi har dessverre ikke mulighet til å ansette utviklere. Men frykt ikke! Vi har løst problemet ved å outsource utviklingen til en helt ny moderne bedrift BG AS. Oppdateringer vil komme fortløpende.<!-- TG23{duckburgs_secret_society_resides_under_the_city} --></p>
        </section>
      </div>
    <div>
      <footer>
        <div>
          <p>&copy; 2023 Andeby kommune. All rights reserved.</p>
        </div>
      </footer> 
    </div>
    </div>
    </div>
  </body>
</html>
