<div class="well">
  <div class="clearfix umd">

    <h1 id="challenge-head" style="text-align:center;">#<%- self.active %></h1>

    <div id="challenge-success"></div>

    <form id="challenge-form" class="form-horizontal" method="POST">
      <p id="challenge-info" class="text-center"></p>
      <div id="challenge-content" class="text-center""></div>
      <div id="challenge-answer-group" class="control-group">
        <label class="control-label" for="challenge-answer">Løsning</label>
        <div class="controls">
          <input type="text" name="challenge-answer" id="challenge-answer" placeholder="">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Bekreft</button>
        </div>
      </div>
    </form>

  </div>
</div>
