/* Skeleton */
html, body {
  height: 100%;
}
body {
  background-color: #e5e5e5;
  background-image: url('../img/bg.png');
  text-align: justify;
}
.container,
.navbar .container {
  width: 800px;
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: -o-calc(100% - 40px);
  width: calc(100% - 40px);
  min-width: 650px;
  max-width: 940px;
}
.navbar .nav.pull-right {
  height: 0;
  top: -29px;
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a {
  color: #aaa;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  background-color: #555;
  border-radius: 8px 8px 0 0;
  background-image: -moz-linear-gradient(top,#555,#333);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#555),#333));
  background-image: -webkit-linear-gradient(top,#555,#333);
  background-image: -o-linear-gradient(top,#555,#333);
  background-image: linear-gradient(to bottom,#555,#333);
  background-repeat: repeat-x;
}
.nav [class^="icon-"],
.nav [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-gray.png") !important;
}
.navbar-inner {
  padding: 10px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 0 20px 2px #000;
  min-width: 650px;
  border-left: none;
  border-width: 0 0 1px 0;
}
#content-wrapper {
  margin: 20px auto;
}
.well {
  list-style: none;
  position: relative;
  background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #fff 0%, #f5f5f5 100%);
  background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #fff 0%, #f5f5f5 100%);
  background-image: -o-radial-gradient(left top, ellipse farthest-corner, #fff 0%, #f5f5f5 100%);
  background-image: -webkit-gradient(radial, left top, 0, left top, 1000, color-stop(0, #fff), color-stop(1, #f5f5f5));
  background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #fff 0%, #f5f5f5 100%);
  background-image: radial-gradient(ellipse farthest-corner at left top, #fff 0%, #f5f5f5 100%);
}
.well, .hero-unit {
  box-shadow: 2px 2px 20px -4px #000;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.form-horizontal .control-label {
  width: 39%;
}
.form-horizontal .controls {
  margin-left: 41%;
}
#login-status {
  margin-top: 0;
  right: 10px;
}
.dropdown-menu {
  right: 0;
  left: auto;
}

#challenge-content {
  margin: 0 auto 10px auto;
  min-height: 24px
}
